/* SCSS RGB */
$blue-jeans: rgba(77, 168, 224, 1);
$green-blue: rgba(33, 101, 164, 1);
$spanish-orange: rgba(225, 105, 0, 1);
$middle-yellow: rgba(255, 236, 31, 1);
$spanish-viridian: rgba(12, 124, 89, 1);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.wrapper {
  height: 100vh;
  background: url(../media/background-image.png) no-repeat center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-wrapper {
  font-family: "pacifico", cursive;
  font-size: 46px;
  letter-spacing: 10px;
  color: $middle-yellow;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60vw;
  .input {
    height: 10vh;
    width: 100%;
    margin: 2.5vh 0;
    text-align: center;
    font-size: 50px;
    border: 10px solid $spanish-orange;
    border-radius: 20px;
  }
}
